{% macro day(id, name, value, day) %}
{% from "_includes/forms" import time %}
<tr>
    <th>
        {{ craft.app.locale.getWeekDayName(day) }}
    </th>
    <td>
        {{ time({
            id: id~'-'~day~'-open',
            name: name~'['~day~'][open]',
            value: value[day].open.time ?? ''
        }) }}
    </td>
    <td>
        {{ time({
            id: id~'-'~day~'-close',
            name: name~'['~day~'][close]',
            value: value[day].close.time ?? ''
        }) }}
    </td>
</tr>
{% endmacro %}

{% from _self import day %}

{% set startDay = currentUser.getPreference('weekStartDay') ?? craft.app.config.general.defaultWeekStartDay %}
{% set days = (startDay..6) %}

{% if startDay != 0 %}
    {% set days = days|merge(0..(startDay -1)) %}
{% endif %}

<table class="data">
    <thead>
    <tr>
        <td></td>
        <th>{{ "Opening Time"|t('storehours') }}</th>
        <th>{{ "Closing Time"|t('storehours') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for i in days %}
        {{ day(id, name, value, i) }}
    {% endfor %}
    </tbody>
</table>
